<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="widht=device-width,intial-scale=1.0" />
    <title>Moteur de recherche</title>
    <link rel="stylesheet" href="{% static 'search/css/bootstrap.css' %}" />
    <style>
      body {
      zoom :80% }
      .img {
      width : 150px !important;
      height : 80px !important;
      position: fixed;left : 40px; top : 0px; left: 40PX;
      }  
      .color{
        background-color: #ef905a;
      }
      .colornav{
        color: #FFFFFF !important;
        margin-left: 40px;
      }

      .algin{
        color: #FFFFFF !important;
      }
      </style>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light offset-6" style="background-color: #2c71a1 !important;">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active ">
          <a class="nav-link " href="/"> <img class="img" src="{% static 'img/logo.PNG' %}"  alt="TinEye"/> <span class="sr-only"></span></a>
        </li>

      <button class="btn color">
        <li class="nav-item">
          <a class="nav-link  algin" href="" > We're hiring  </a>
        </li>
      </button>

        <li class="nav-item">
          <a class="nav-link colornav" href=""> Technology  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link colornav" href=""> Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link colornav" href=""> Log in</a>
        </li>
      </ul>
    </div>
  </nav>
  <body class='bodyw' style="background-color: #2c71a1;">
    <div class="container mt-5">  
      {% block content %} {% endblock content %}
      <script src="{% static 'predict/js/jquery.js'%}"></script>
      <script src="{% static 'predict/js/popper.js'%}"></script>
      <script src="{% static 'predict/js/bootstrap.js'%}"></script>
    </div>
  </body>
</html>
