{% extends 'search/base.html'%} 
{% block content %}
    <style>
img {
    width : 400px !important;
    height : 300px !important;
    }
.revarseImage{
    text-align:center;
    color : #FFFFFF;
}

    </style>
        
    <div class="col-sm-12 ">
        <h1 class="revarseImage">Reverse Image Search</h1>
        <p class="revarseImage"> Find where images appear online. <a class="revarseImage" href="/">How to use TinEye.</a></p>
    <div>
    <!-- <div class="mb-4 d-flex justify-content-center">
        <img src="https://img.icons8.com/color/480/pink-ribbon.png"
        alt="example placeholder" style="width: 300px;" />
    </div> -->
    <div class="d-flex justify-content-center">
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{form.file}}
            </p>
            <p> <input class="btn btn-light" type="submit" value="Upload"/></p>
        </form>
        </div>
        <!-- Affichage des images pertinentes !-->
        {% if msg %}
        <h4>Image requete : </h4>
        <img src="static/requete/{{msg}}"
        alt="image requete" style="width: 400px;"/>
        <h4>Résultat :</h4>
        {% for o in list %}
        <!-- <h1>Hello</h1> -->
        <img src="static/dataset/{{o}}"
        alt="image requete" style="width: 400px;"/>
        {% endfor %}
        {% endif %}
        </div>
        {% endblock content%}
